<header-directive></header-directive>
<uib-tabset class="wrap">
    <uib-tab id="{{ tab.tabId }}" heading = "{{ tab.tabTitle }}" ng-repeat= "tab in tabs">
       <div class = "row" ng-repeat = "row in tab.rows">
			  <div class = "col-sm-{{ col.colWidth }}" ng-repeat = "col in row.columns">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class = "panel-title">{{ col.widgetId.title }}</h3>
						</div>
						<div class="panel-body">
							<div ng-show="isLoading">
								<img src="/images/loading.gif" /> loading...	
							</div>
							<chart-panel is-loading="isLoading" chart-id="{{ $index }}" parameters = "{{ col.widgetId.url }}" chart-renderer-method = "{{ col.widgetId.chartRenderer }}" ></chart-panel>
						</div>
						<div class="panel-footer">
						   <p>Comments will go here</p>
						   {{ col.widgetId.url }}
						</div>
					</div>
			  </div>
       </div>
    </uib-tab>
    <load></load>
</uib-tabset>
