<!DOCTYPE html>
<html ng-app="vbiApp">
   <head>
      <link rel="stylesheet" href='/bootstrap/css/bootstrap.css' charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/styles.css" charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/bootstrap-glyphicons.css" charset="utf-8">
   </head>
   <body>
       <div ng-view>

		 </div>
      
      <script src="/javascript/angular.min.js" charset="utf-8"></script>
      <script src="/javascript/angular-route.min.js" charset="utf-8"></script>
      <script src="/javascript/angular-animate.js"></script>
      <script src="/javascript/ui-bootstrap-tpls.js"></script>
      <script src="/javascript/application.js"></script>
      <script src="/javascript/appRoutes.js"></script>
      <script src="/javascript/controllers/homeController.js"></script>
      <script src="/javascript/controllers/headerController.js"></script>
      <script src="/javascript/controllers/loginController.js"></script>
      <script src="/javascript/services/userManager.js"></script>
      <script src="/javascript/services/widgetManager.js"></script>
      <script src="/javascript/directives.js"></script>
   </body>
</html>
